.recipe_card {
    width: 300px;
    height: 450px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5%;
    box-shadow: 5px 5px 15px #304146;
}

.recipe_image_container {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}

img {
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 10px rgb(72, 72, 98);
}

.blue_btn {
    background-color: blue;
    color: white;
}

h2 {
    font-size: 20px;
    color: black;
}